importlib_metadata==0.23
xmltodict==0.12.0
numpy==1.17.4
Flask_WTF==0.14.2
WTForms==2.2.1
lxml==4.6.2
cryptography==2.8
Flask==1.1.1
lockfile==0.12.2
Jinja2==2.10.3
Werkzeug==0.16.0
zipp==0.6.0
brotli==1.0.7
Cython==0.29.15
ipaddr==2.2.0
ipython==7.12.0
keyring==21.1.0
mypy_extensions==0.4.3
ordereddict==1.1
protobuf==3.11.3
pyOpenSSL==19.1.0
toml==0.10.0
usercustomize==1.0.0
wincertstore==0.2
